@keyframes roteIconA {
  0%, 100% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-25deg);
  }
}

.animation-roteIconA {
  animation: roteIconA 4s ease-in-out infinite;
}
@keyframes roteIconB {
  0%, 100% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
}

.animation-roteIconB {
  animation: roteIconB 4s ease-in-out infinite;
}
@keyframes translateA {
  0%, 100% {
    transform: translateX(-10px);
    /* transform: translateY(0); */
  }
  50% {
    transform: translateX(10px);
    /* transform: translateY(20px); */
  }
}

.animation-translateA {
  animation: translateA 4s ease-in-out infinite;
}